# =========================
# Dependencies
# =========================
node_modules/

# Package manager
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Expo
# =========================
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Expo cache
.expo/web/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# AI Environment Variables
ai/.env
ai/**/.env

# =========================
# Native folders
# =========================
/android
/ios

# Native files
.kotlin/
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# =========================
# Metro Bundler
# =========================
.metro-health-check*

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Certificates
# =========================
*.pem

# =========================
# Python / AI
# =========================
venv/
.venv/
env/

__pycache__/
**/__pycache__/

*.pyc
*.pyo
*.pyd

# AI Models
*.pth
*.pt
*.h5
*.pkl
*.onnx

# Jupyter
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# =========================
# Misc
# =========================
coverage/
tmp/
temp/

# Example app folder
app-example/